﻿@using myPokemonAplication.Controllers


@{
    ViewBag.Title = "ABMPokemon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body style="background-color: #4F4444">

    <div id="page-content">
        <div class="w3-container">
            <div class="jumbotron ">
                <form class="form-inline">
                    <h2>Administrar Pokemones</h2>
                    <p>Ingresar el nombre del Pokemon</p>
                    <input type="text" class="form-control" size="50" placeholder="Nombre del Pokemon">
                    @*<button type="button" class="btn btn-danger">Agregar</button>*@
                    <button type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("AddPokemon", "Admin")'">Add</button>
                    @*<button type="button" class="btn btn-danger">Modificar</button>*@
                    <button type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("UpdPokemon", "Admin")'">Modificar</button>
                    <button type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("PokemonList", "Admin")'">Listado Pokemon</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Under Construction</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Try again later... Sorry :(</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
        </div>
    </div>

    <!--///////////////Carousel starts/////////////////-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" align="justify">

            <div class="item active">
                <img src="~/Content/Images/Bulbasaur.jpg" alt="Bulbasaur">
                <div class="carousel-caption">
                    @*<h3>#001-Bulbasaur</h3>
                        <p>Type:Leaf</p>*@
                    <div class="container-">
                        <h2>#001</h2>
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Bulbasaur</button>
                        @*<button id="myBtn">Try it</button>*@
                        <div id="demo" class="collapse">
                            Type:Leaf
                        </div>

                        @*<button id="myBtn">#001-Bulbasaur</button>
                            <p id="demo"></p>
                            <script>
                                document.getElementById("myBtn").addEventListener("click", function () {
                                    alert('Bulbasaur.jpg');
                                });
                                //function displayDate() {
                                //    document.getElementById("demo").innerHTML = Date();
                                //}

                            </script>*@
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/Images/Eevee.jpg" alt="Eevee">
                <div class="carousel-caption">
                    <h3>#133-Eevee</h3>
                    <p>Type:Normal</p>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/Images/Gengar.jpg" alt="Gengar">
                <div class="carousel-caption">
                    <h3>#094-Gengar</h3>
                    <p>Type:Ghost</p>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/Images/Golduck.jpg" alt="Golduck">
                <div class="carousel-caption">
                    <h3>#055-Golduck</h3>
                    <p>Type:Water/Psichic</p>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    @*<div>
        <form>
            <p>

            </p>
            
            <input type="button" class="btn btn-default" value="Go back" onclick="location.href = '@Url.Action("Index", "Login")'" />
        </form>

    </div>*@

    <script>
    $(document).ready(function(){
    // Activate Carousel
    $("#myCarousel").carousel({interval: 500, pause: "hover"});

    // Enable Carousel Indicators
    $(".item1").click(function(){
        $("#myCarousel").carousel(0);
    });
    $(".item2").click(function(){
        $("#myCarousel").carousel(1);
    });
    $(".item3").click(function(){
        $("#myCarousel").carousel(2);
    });
    //$(".item4").click(function(){
    //    $("#myCarousel").carousel(3);
    //});

    // Enable Carousel Controls
    $(".left").click(function(){
        $("#myCarousel").carousel("prev");
    });
    $(".right").click(function(){
        $("#myCarousel").carousel("next");
    });
});
    </script>

</body>



