﻿@model myPokemonAplication.Models.PokemonModel
@{
    ViewBag.Title = "AddPokemon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {
        Mod.AddPokemon();
    });
</script>

<body>
   @using (Html.BeginForm())
   {
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-inline">
            <h1>Add a new Pokemon</h1>
        </div>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(x => x.Name)
            </div>
            <div class="editor-field form-group">
                @Html.TextBoxFor(x => x.Name)
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.Type)
            </div>
            <div class="editor-field form-group">
                @Html.EnumDropDownListFor(x => x.Type)
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.UrlImage)
            </div>
            <div class="editor-field form-group">
               <input type="file" name="file" id="file" style="width: 100%"  accept="image/*" />
                @Html.HiddenFor(x => x.UrlImage, new { id = "UrlImage" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.PreviousEvolution)
            </div>
            <div class="editor-field form-group">
                @Html.TextBoxFor(x => x.PreviousEvolution)
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.NextEvolution)
            </div>
            <div class="editor-field form-group">
                @Html.TextBoxFor(x => x.NextEvolution)
            </div>
            <h1></h1>
            <div>
                <input type="submit" class="btn btn-default" value="Create New Pokemon" />
                <input type="button" class="btn btn-default" value="Reset" onclick="location.href = '@Url.Action("AddPokemon", "Admin")'" />
                <input type="button" class="btn btn-default" id="cancel" value="Cancel" />
            </div>
        </fieldset>
    }
    @*<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Modal header</h3>
        </div>
        <div class="modal-body">
            <p>One fine body…</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
        </div>
    </div>*@






</body>
