﻿
@{
    ViewBag.Title = "AddPokemonEmptyFormError";
}

<h2>Error The Form is Empty</h2>
<button type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("AddPokemon", "Admin")'">Go back</button>
