﻿@model myPokemonAplication.Models.UserModel
@{
    ViewBag.Title = "CreateNewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {
        Mod2.CreateNewUser();
    });
</script>

<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(false,"",new {@class="text-danger"})
        <div class="form-inline">
            <h2>Create New User</h2>
        </div>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(x => x.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.UserName)
                @*@Html.ValidationMessageFor(x => x.UserName)*@
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.Password)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.Password)
             @*   @Html.ValidationMessageFor(x => x.Password)*@
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.Fname)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.Fname)
            @*    @Html.ValidationMessageFor(x => x.Fname)*@
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.Lname)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.Lname)
          @*      @Html.ValidationMessageFor(x => x.Lname)*@
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.AreaCode)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.AreaCode)
           @*     @Html.ValidationMessageFor(x => x.AreaCode)*@
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.Phone)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.Phone)
               @* @Html.ValidationMessageFor(x => x.Phone)*@
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.BirthDay)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.BirthDay)
              @*  @Html.ValidationMessageFor(x => x.BirthDay)*@
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.Email)
              @*  @Html.ValidationMessageFor(x => x.Email)*@
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.TrainerLvl)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.TrainerLvl)
             @*   @Html.ValidationMessageFor(x => x.TrainerLvl)*@
            </div>
            <h1></h1>
            <div class="btn-group-lg">
                <input type="submit" class="btn btn-default" value="Create New User"/>
                <input type="button" class="btn btn-default" value="Reset" onclick="location.href = '@Url.Action("CreateNewUser", "Admin")'" />
                <input type="button" class="btn btn-default" id="btn_Cancel" value="Cancel" onclick="location.href = '@Url.Action("ABMPokemon", "Admin")'" />
            </div>
        </fieldset>
    }
</body>


@*public string UserName { get; set; }
        public string Password { get; set; }
        public string Fname { get; set; }
        public string Lname { get; set; }
        public int AreaCode { get; set; }
        public Int64 Phone { get; set; }
        public DateTime BirthDay { get; set; }
        public string Email { get; set; }
        public int TrainerLvl { get; set; }*@












