﻿@using System.Activities.Statements
@using myPokemonApp.Model
@model List<myPokemonApp.Model.Pokemon>

<div class="container">
    <h2>Listado Pokemon</h2>
    <p>Este es un listado de todos los pokemones existentes en la base de datos</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pokemon Name</th>
                <th>Pokemon Type</th>
                <th>Url Image</th>
                <th>Previous Evolution</th>
                <th>Next Evolution</th>
            </tr>
        </thead>
        <tbody>
        @foreach (Pokemon item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.UrlImage
                </td>
                <td>
                    @item.PreviousEvolution
                </td>
                <td>
                    @item.NextEvolution
                </td>
            </tr>
        }
        
        </tbody>
    </table>
</div>
