﻿
@{
    ViewBag.Title = "UploadImage";
}


<h2>The image has been succesfully Uploaded</h2>
<button type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("AddPokemon", "Admin")'">Go back</button>

