﻿
@{
    ViewBag.Title = "UploadImageFileNotSelected";
}

<h2>You haven't selected any file</h2>
<button type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("AddPokemon", "Admin")'">Go back</button>

