﻿
@{
    ViewBag.Title = "UploadImageError";
}

<h2>Error on Upload</h2>
<button type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("AddPokemon", "Admin")'">Go back</button>

