﻿@model myPokemonAplication.Models.Login
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script type="text/javascript">
    $(document).ready(function () {
        $("#UserName").on("focusout", function () {
            if($("#UserName").val().length > 0)
            {
                var a = Number($("#UserName").val()) + 3;
                $(".btn-success").val(a);
                
            }
        });
    });
</script>*@
<h2>Login</h2>
@using (Html.BeginForm(new { @action = "LoginAccess" })){
        <div class="form-group">
            @*@Html.LabelFor(x=>x.UserName,new {@class = "" })*@
            <label class="control-label">
                User name
            </label>
            @Html.TextBoxFor(x=>x.UserName,new { @class="form-control"})
        </div>
    <div class="form-group">
        @*@Html.LabelFor(x=>x.UserName,new {@class = "" })*@
        <label class="control-label">
            Password
        </label>
        @Html.TextBoxFor(x => x.Password, new {@class = "form-control", @type = "password"})
    </div>
    <legend>
        user: asd
        password:asd!!454
    </legend>
        <div class="form-group">
            <p>
                <input type="submit" class="btn btn-success" value="Login" />
            </p>
        </div>
}


