﻿body {
    padding-top:0;
    padding-bottom: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-color: #B40404;
    color: #fff;
    /*padding: 10%;*/
    margin-top: 3%;
    /*margin-bottom: 3%;*/
    text-align: left;
}

.bg-grey {
    background-color: #FFFFFF;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-inner {
    height: 50%;
    width: 100%;
}

    .carousel-inner > .item {
        background-color: #fff;
    }

.item, img {
    height: 100%;
    width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carousel-caption {
    color: black;
    text-align: center;
}

.form-a {
    margin-top: 6%;
    align-self: auto;
}

.w3-container {
    margin-top: 6%;
    margin-bottom: 0;
}

.alert-info {
    /*float: left;*/
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    color: red;
}

.navbar {
    list-style-type: none;
    margin: 0;
    /*padding: 0;*/
    overflow: hidden;
    background-color: black;
    padding: 1px 1px;
    border-bottom: #ffffff;
}
.navbar-header {
    position: ;
}

.btn-group-justified {
    position: relative;
}

fieldset {
    border: 3px solid red;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    border: 3px solid black;
    font-size: 1.2em;
    font-weight: bold;
}
/*editor-field {
        padding: 0 1.4em 1.4em 1.4em;   
    }*/


.modal-content {
    color: black;
}
.modal-header{
    color: black;
}
.modal-body{
    color: black;
}
.modal-footer{
    color: black;
}


